
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

.nepali, .nepali h1 {
font-family: 'Gotu',
sans-serif !important;

}

.nepali p{
    font-size: 22px;
}

.kshitiz {
    background: #d80b4e;
    padding: 10px 9px 2px 4px;
    font-size: 32px;
    border-radius: 11px;

}

.theme-btn-disabled {
    background: #919191 !important;
    pointer-events: none;
}

figure.image {
        display: flex;
        flex-direction: column;
        background: #eaeaea;
        padding: 18px 92px 4px 92px;
        align-items: center;
}
figure.image img{
    width: 100%;
}
figure.image figcaption{
    background: #0049da;
    padding: 2px;
    margin-top: 3px;
    color: #eaeaea;
    border-radius: 9px;
    font-size: 10px;
    font-style: italic;
}
