@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body * {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.voyager .side-menu.sidebar-inverse {
    background: #131313;
}

.nav-bar li:hover{
    color: black;
}

.form-group label.control-label{
    font-weight: 900;
}

.ace_editor.ace-github * {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
